<div class="header">
    <h2>Demo</h2>
</div>
<div class="row">
    <div class="card" style="margin-right: 5px;">
        <div class="card-body row borderBottom">
            <h3 style="margin-right: 10%;">Authors</h3>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="table-headings">
                    <h4>Authors</h4>
                    <button class="btn-primary btn-radius" id="myBtn">add</button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <table class="table table-hover table-bordered dt-scrollable" id="author-table">
                    <thead>
                        <tr>
                            <th width="35%">Name</th>
                            <th width="35%">Email</th>
                            <th width="30%">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% author.forEach(task=> {%>
                            <tr>
                                <td>
                                    <%=task.name%>
                                </td>
                                <td>
                                    <%=task.email%>
                                </td>
                                <td>
                                    <img src="/images/icons8-edit-30.png" onclick="editAuthor('<%=task.id%>',this)"
                                        data-authorid="<%=task.id%>" class="icontable" title="Edit" alt="">
                                    <img src="/images/icons8-delete-30.png" onclick="deleteAuthor('<%=task.id%>',this)"
                                        class="icontable" title="Delete" alt="">
                                    <!-- <a class="" href="author/editbyid?id=<%=task.id%>" role="button">Edit</a>  / 
                                    <a class="" href="author/delete?id=<%=task.id%>" role="button">Delete</a> -->
                                </td>
                            </tr>
                            <%})%>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <div class="card" style="margin-left: 5px;">
        <div class="card-body row borderBottom">
            <h3 style="margin-right: 10%;">Tasks</h3>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="table-headings">
                    <h4>Tasks</h4>
                    <button class="btn-primary btn-radius" id="taskBtn">add</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <table class="table table-hover table-bordered dt-scrollable" id="task-table">
                    <thead>
                        <tr>
                            <th width="35%">Name</th>
                            <th width="35%">Description</th>
                            <th width="30%">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% task.forEach(task=> {%>
                            <tr>
                                <td>
                                    <%=task.name%>
                                </td>
                                <td>
                                    <%=task.description%>
                                </td>
                                <td>
                                    <img src="/images/icons8-edit-30.png" onclick="editTask('<%=task.id%>',this)"
                                        data-taskid="<%=task.id%>" class="icontable" title="Edit" alt="">
                                    <img src="/images/icons8-delete-30.png" onclick="deleteTask('<%=task.id%>',this)"
                                        class="icontable" title="Delete" alt="">
                                </td>
                            </tr>
                            <%})%>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div>
        <a href="/timer" style="text-decoration: none;"> <button class="btn-primary btn-radius">Timer</button></a>
    </div>

    <%-partial("./partial/authormodel",{authorfetch})%>
        <%-partial("./partial/taskmodel",{taskfetch})%>


</div>


<script>

    let authorTable, taskTable
    $(document).ready(function () {
        taskTable = $('#task-table').DataTable();
        authorTable = $('#author-table').DataTable();
    });
    // Get the modal
    var modal = document.getElementById("myModal");
    var taskModal = document.getElementById("taskModal");
    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");
    var taskBtn = document.getElementById("taskBtn");
    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];
    var taskSpan = document.getElementsByClassName("taskClose")[0];
    // When the user clicks the button, open the modal 
    btn.onclick = function () {
        modal.style.display = "block";
        $('[name="email"]').val(null)
        $('[name="name"]').val(null)
        $("#btnAuthor").html('Submit');
        $('[name="id"]').val(null)
        $("#authorTitle").html('Create Author');
    }
    taskBtn.onclick = function () {
        taskModal.style.display = "block";
        $('[name="name"]').val(null)
        $('[name="id"]').val(null)
        $('[name="description"]').val(null)
        $("#btnTask").html('Submit');
        $("#taskTitle").html('Create Task');
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
        //   window.location.href = '/';
    }
    taskSpan.onclick = function () {
        taskModal.style.display = "none";
        //   window.location.href = '/';
    }

    // When the user clicks anywhere outside of the modal, close it
    // window.onclick = function(event) {
    //   if (event.target == modal || event.target == taskModal) {
    //     modal.style.display = "none";
    //     taskModal.style.display = "none";
    //   }
    // }

    function editTask(id, input) {
        $.get(`task/editbyid?id=${id}`, {}, function (res) {
            if (res.success) {
                taskModal.style.display = "block";
                $('[name="name"]').val(res.task.name)
                $('[name="id"]').val(res.task.id)
                $('[name="description"]').val(res.task.description)
                $("#btnTask").html('Save');
                $("#taskTitle").html('Edit Task');
            }
        });

    }
    function deleteTask(id, input) {
        $.get(`task/delete?id=${id}`, {}, function (res) {
            if (res.success) {
                taskTable.row($(input).parents('tr')).remove().draw(false);
                toastr.success('deleted succesesfully!','Task Deleted!')
            }
            else{
                toastr.info(res.msg,'Task Deleted!')
            }
        });
    }
    function editAuthor(id, input) {
        $.get(`author/editbyid?id=${id}`, {}, function (res) {
            if (res.success) {
                modal.style.display = "block";
                $('[name="email"]').val(res.author.email)
                $('[name="name"]').val(res.author.name)
                $("#btnAuthor").html('Save');
                $('[name="id"]').val(res.author.id)
                $("#authorTitle").html('Edit Author');
            }
        });

    }
    function deleteAuthor(id, input) {
        $.get(`author/delete?id=${id}`, {}, function (res) {
            if (res.success) {
                authorTable.row($(input).parents('tr')).remove().draw(false);
                toastr.success('deleted succesesfully!','Author Deleted!')
            }else{
                toastr.info(res.msg, 'Author Deleted!')
            }
        });
    }
</script>