<div class="header">
    <div class="row" style="justify-content: flex-start;">
        <button class="btn-primary btn-radius additonalabl" style="margin-left: 10px; height: 40px;"
            onclick=" window.location.href = '/'">back</button>
        <h2 style="margin-left: 40px;">Demo</h2>
    </div>
</div>
</div>
<div class="row">
    <div class="card" style="margin-right: 5px; width: 99%;">
        <div class="card-body row">
            <h3 style="margin-right: 10%;">Timer</h3>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="table-headings">
                    <h4>Timer</h4>
                    <button class="btn-primary btn-radius" id="myBtn">add</button>
                </div>
            </div>
        </div>
        <div class="row" style="width: 100%;">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <table class="table table-hover table-bordered dt-scrollable">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th width="20%">Name</th>
                            <th width="20%">Author</th>
                            <th width="20%">Task</th>
                            <th width="20%">Timer</th>
                            <th width="20%">Start/Stop</th>
                            <th width="20%">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%if(timer.length > 0){%>
                            <% timer.forEach(task=> {%>
                                <tr>
                                    <td>
                                        <%=task.id%>
                                    </td>
                                    <td>
                                        <%=task.name%>
                                    </td>
                                    <td>
                                        <%=task.author.name%>
                                    </td>
                                    <td>
                                        <%=task.task.name%>
                                    </td>
                                    <td>
                                        <span>
                                            <%=task.hours<10?'0'+task.hours:task.hours%>
                                        </span> :
                                        <span>
                                            <%=task.minutes<10?'0'+task.minutes:task.minutes%>
                                        </span> :
                                        <span>
                                            <%=task.seconds<10?'0'+task.seconds:task.seconds%>
                                        </span>
                                    </td>
                                    <td>
                                        <button class="btn-primary btn-radius" data-start="true"
                                            data-id="<%= task.id %>" onclick="startTimer(this)">Start</button>
                                    </td>
                                    <td>
                                        <img src="/images/icons8-edit-30.png" onclick="editTimer('<%=task.id%>',this)"
                                            data-timerid="<%=task.id%>" class="icontable" title="Edit" alt="">
                                        <img src="/images/icons8-delete-30.png"
                                            onclick="deleteTimer('<%=task.id%>',this)" class="icontable" title="Delete"
                                            alt="">
                                    </td>
                                </tr>
                                <%})%>
                                    <%}else{%>
                                        <tr>
                                            <td colspan="6">
                                                <h5 style="text-align: center;margin:0px;">Sorry No Data Available</h5>
                                            </td>
                                        </tr>
                                        <%}%>
                    </tbody>

                </table>
            </div>
        </div>
    </div>
    <%-partial("./partial/timermodel",{author,task})%>
</div>

<script>
    let table
    $(document).ready(function () {
        table = $('table').DataTable({
            "columnDefs": [
                { "orderable": false, "visible": false, "searchable": false, "targets": 0 },
                { "orderable": false, "searchable": false, "targets": 6 }
            ]
        })
    });
    // Get the modal
    var modal = document.getElementById("myModal");

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks the button, open the modal 
    btn.onclick = function () {
        $('[name="author"]').attr("disabled", false);
        $('[name="task"]').attr("disabled", false);
        $('[name="name"]').val(null)
        $('#taskhide').val(null)
        $('#authorhide').val(null)
        $("#btnTimer").html('submit');
        $("#taskTimer").html('Create Timer');
        $('[name="id"]').val(null)
        modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }

    let intervalId={}, apiInterval = {}, hours={}, minutes={}, seconds={};
    function startTimer(startBtn) {
        // pauseAll();
        let tr = $(startBtn).parents("tr");
        let data = table.row(tr).data();
        data[5] = `<button class="btn-secondary btn-radius" data-start="false" data-id="${data[0]}" onclick="pauseTimer(this)">Pause</button>`;
        table.row(tr).data(data).draw(false);
        let timer = tr.children(":eq(3)")
        let timerId = data[0]
        startInterval(timer, timerId);
    }
    function startInterval(timer, timerId) {
        intervalId[timerId] = setInterval(function () {
            hours[timerId] = parseInt(timer.children(":eq(0)").text());
            minutes[timerId] = parseInt(timer.children(":eq(1)").text());
            seconds[timerId] = parseInt(timer.children(":eq(2)").text());
            seconds[timerId] = seconds[timerId] + 1;
            if (seconds[timerId] == 60) {
                minutes[timerId] = minutes[timerId] + 1;
                seconds[timerId] = 0;
            }
            if (minutes[timerId] == 60) {
                hours[timerId] = hours[timerId] + 1;
                minutes[timerId] = 0;
            }

            timer.children(":eq(0)").text(`${hours[timerId] < 10 ? '0' + hours[timerId] : hours[timerId]}`)
            timer.children(":eq(1)").text(`${minutes[timerId] < 10 ? '0' + minutes[timerId] : minutes[timerId]}`)
            timer.children(":eq(2)").text(`${seconds[timerId] < 10 ? '0' + seconds[timerId] : seconds[timerId]}`)
            apiInterval[timerId] =apiInterval[timerId]?apiInterval[timerId]+1:1 ;
            if (apiInterval[timerId] == 11) {
                apicall(timerId, hours[timerId], minutes[timerId], seconds[timerId])
                apiInterval[timerId] = 1
            }

        }, 1000)
    }
    function apicall(id, hours, minutes, seconds, pause) {
        table.rows().every(function (a, b, c) {
            let data = this.data()
            if (data[0] == id) {
                if (pause) {
                    data[5] = `<button class="btn-primary btn-radius" data-start="true" data-id="${data[0]}" onclick="startTimer(this)">Start</button>`;
                }
                data[4] = `<span>${hours < 10 ? '0' + hours : hours}</span> : <span>${minutes < 10 ? '0' + minutes : minutes}</span> : <span>${seconds < 10 ? '0' + seconds : seconds}</span>`
                this.data(data).draw(false)
            }
        })
        $.post('/timer/update', { id, hours, minutes, seconds }, function (res) {
            if (res.success) {
            }
        });
    }

    function pauseTimer(pauseBtn) {
        let timerId = $(pauseBtn).data('id');
        clearInterval(intervalId[timerId]);
        apiInterval[timerId] = 1;
        updateTimer(pauseBtn);

    }
    function updateTimer(pauseBtn) {
        let timerId = $(pauseBtn).data('id');
        apicall(timerId, hours[timerId], minutes[timerId], seconds[timerId], true)
    }
    function pauseAll() {
        table.rows().every(function (a, b, c) {
            let data = this.data()
            if ($(data[5]).data("start") == false) {
                clearInterval(intervalId)
                let timerId = $(data[5]).data('id');
                apicall(timerId, hours, minutes, seconds, true)
            }
        })
    }

    function editTimer(id, input) {
        $.get(`timer/editbyid?id=${id}`, {}, function (res) {
            if (res.success) {
                modal.style.display = "block";
                $('[name="name"]').val(res.timer.name)
                $('#taskhide').val(res.task.filter((task) => task.name == res.timer.task.name)[0].id)
                $('#authorhide').val(res.author.filter((task) => task.name == res.timer.author.name)[0].id)
                $('[name="author"]').attr("disabled", true);
                $('[name="task"]').attr("disabled", true);
                $("#btnTimer").html('Save');
                $("#taskTimer").html('Edit Timer');
                $('[name="id"]').val(res.timer.id)
            }
        });
    }

    function deleteTimer(id, input) {
        $.get(`timer/delete?id=${id}`, {}, function (res) {
            if (res.success) {
                table.row($(input).parents('tr')).remove().draw(false);
                toastr.success('deleted succesesfully!','Timer Deleted!')
            }
        });
    }
</script>